#first-div, #second-div {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: solid 5px black;
  box-sizing: border-box;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  min-height: 200px;
  height: auto;
}

.image-1-container {
  width: 200px;
  height: 600px;
  background: red;
}

.image-1-container img {
  width: 100%;
}

.image-2-container {
  min-width: 200px;
  display: inline-block;
  height: 600px;
  background: red;
}

p {
  background-color: #7fdbff;
}
